@import "primeicons/primeicons.css";
@import "tailwindcss";

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}