<section id="about" class="relative isolate min-h-screen">
  <!-- Background gradient -->
  <div class="absolute inset-x-0 -top-40 -z-10 blur-3xl overflow-hidden">
    <div class=" mx-auto h-[40rem] w-full max-w-[72rem] bg-gradient-to-tr
     from-indigo-300 to-pink-300 opacity-30 rotate-12 "></div>
  </div>
  <!-- Hero Content -->
  <div class="pt-32 px-6 flex items-center min-h-screen">
    <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-12 items-center fade-up">
      <div>
        <h2 class="text-5xl font-semibold sm:text-6xl">
          {{name}}
        </h2>
        <p class="typing mt-4 text-2xl font-medium text-indigo-600" style="--chars: 18;">
          {{roleText}}
        </p>
        <p class="mt-6 text-lg text-gray-600">
            Building
          <strong class="font-semibold text-gray-900">scalable, cloud-ready applications</strong>
            with
          <strong class="font-semibold text-gray-900">.NET, Angular, and Azure</strong>
            — backed by
          <strong class="typing text-indigo-600" style="--chars: 7;">
            {{years}}
            <span class="align-super text-sm">+</span>
            &nbsp;years</strong>
          of real-world engineering experience.
        </p>
      </div>

      <div class="flex justify-center">
        <img src="assets/img/DeepakImage.jpg" alt="Profile Photo"
          class="w-72 h-90 rounded-full border-4 border-indigo-500 shadow-lg" />
      </div>

    </div>
  </div>
</section>