name: Github Build Web App and Api Docker Image
# environment variable for this workflow only. available for all jobs.
env:
  version: ${{vars.MAJOR}}.${{vars.MINOR}}.${{github.run_number}}
on:
  # run this workflow manually.
  workflow_dispatch:
  # run workflow automatically when push to master branch.
  # write now I don't want to trigger auto that is why commented.
  # push:
  #   branches: [ "master" ]

jobs:

  build_push_web_app:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      image_name: store-app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build And Push Web App docker image
        run: |
          sudo apt-get install jq
          cd ./Frontend/web-app
          mv ./src/assets/config/config.json temp.json
          jq -r '.version |= "${{env.version}}"' temp.json > ./src/assets/config/config.json
          rm temp.json
          docker build --rm -t ghcr.io/${{github.actor}}/${{env.image_name}}:${{env.version}} -t ghcr.io/${{github.actor}}/${{env.image_name}}:latest .
          docker push ghcr.io/${{github.actor}}/${{env.image_name}} --all-tags


  build_push_web_api:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    env:
      image_name: store-api
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Web Api docker image
        run: |
          cd ./Backend/Store.WebServer
          docker build --rm -t ghcr.io/${{github.actor}}/${{env.image_name}}:${{env.version}} -t ghcr.io/${{github.actor}}/${{env.image_name}}:latest .
          docker push ghcr.io/${{github.actor}}/${{env.image_name}} --all-tags

  build_push_database_migration_app:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    env:
      image_name: store-database-migration
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Database Migration docker image
        run: |
          cd ./Backend/Store.WebServer
          docker build -f Store.Data.ApplyMigration/Dockerfile --rm -t ghcr.io/${{github.actor}}/${{env.image_name}}:${{env.version}} -t ghcr.io/${{github.actor}}/${{env.image_name}}:latest .
          docker push ghcr.io/${{github.actor}}/${{env.image_name}} --all-tags